<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Failed</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <style>
        .fail {
            background: url('{{ url_for('static', filename='images/nothing.jpg') }}') no-repeat center center fixed;
            background-size: cover;
            height: 100vh;
            width: 100vw;
            margin: 0;
            padding: 0;
        }
        /*
        I'm gonna kill myself cus HTML can't read this flask I f**king swear to god I've searched how to fix this and it is still read as error but it works IF I "FIXED" IT
        AND NO MORE ERRORS SHOW, IT DOESN'T SHOW AS THE BACKGROUND. I JUST WANNA DESIGN THIS SPECIFIC PAGE WITH THAT
        */
    </style>
    <body class="fail">
        <h1>FAILED due to absences.</h1>
        <div class="fool">
        <p>You have exceeded the maximum allowed absences.</p>
        <p>Chat this is so sad can we get this man a Beer.</p>
        <p>Maybe you should've gone to school instead of playing with your Tekken.</p>
        <a href="/">Back to Input</a>
        </div>
        <footer>
            <p>Tamondong, Rai</p>
        </footer>
</body>
</html>

<!--
                                                      .  ...:.......                   .:::-==-:... .   .:----:::::...............    .:. ::..-:.::. :
                                                      .    :..:.....                   ----==-::.. ..::-=----::::-:::-===---:.  .. :  :::==: :-. =. .-
                                                           ..:.... ..               .-=-====--::::-------::::...::.:--==-:..:  :.  --+++**=-==-:-=::-:
       ....... . .   .                               .       ....:::::.            :=====-::..::::::-:::..::::::::---=+-- ..-. -: :#%%%%%#:   ====---:
:--==+++****+*+*++=--:----=-:        ....:.::..:...  ..      .:-===----:::::......:-:::..::::..............::::-=--=*:::=. .:.--.:=%###%%%%++:        
##*++=--:......::::-    :--===+===++++++++*+++=+++*+++.    .:----:....:-=++++====-:.::---:-----:.  ....:......:-=:-+*++==:::.     %*#%#+%%@%*-        
           .:---=++=-:..:-=++++****###*+=:...:--=+**##- ..:::::.. .:-=============++=:....-=-:.... .....:......:-:-=#+=-.        +@@**#*#@@#=         
.-..:++: .:===========+****##%%%%#**+:.   .--+++******+-:::..:  .--.-==+++******++===+=.:-=-:..... ...    .:... =:--.           -@@@@@%%@@*:          
+=--::-=+++**##*=:-+*###%@%*####*+-.     .=+++*********==-::. .--: :---=+**####****++++*:---:.           . .:  :.              +@@@@@@@@%=            
-..=*****#%@%%*=+**##%%%%@*+**#*+.     .:=++++********+.==:. .=:   :--=**######********##::::          .    .                .#@@@@@@@%=              
+*######%@%%#=+**#%%###%@@%####+:.=::::=+++++**********=-#=::+-   .-=+*########****++==*#+.       . .  ..                   =%@@@@@@@*.               
#%%%%%%@@@@++*#%%%%#####*#%%%%#-:-=---+++++++***********#%+:-:    -+++*#####*****++-....++:     ... .                     .*@@@@@@@%=                 
.:-=+#%%@#+*##%%%########****##=-====+#%#+++++****##*****#*-.     +***####*##**+++:     .--   ::::-:.                    +%@@@@@@@*.                  
        -+*##=--#%#######*****#+=+=++*#%%**+*****###**#%%%#:     :*###%##**##*+=--        :. --==-:-                  ..*%@@@@@@%*:::::::::::::..     
        .#%*:    -*########**#%@++++**************##*%%%%#=:     -*#####***++=:.::        :.--:-::.         :++****-:=*####*++==---:::................
         .:        :*##########%%*+*#**************#*%%#-.::.   -=*###%#***++:  ::        :::::::      :.  *+#**=#-+***++===--:::.::.......  .:-:::...
                     .-=*####%%##***###********###**##-.:-=:-::-=+*####****+=.  -:       .:-::.  :::-*%*#-=%%%##****++===-=--::.........     -:.    :.
                          .:=+#%###%##%%%##########*- .-=+#+*+++***####*****=:.-=:. ......:-..-*@@**@@%+#@%##***+++++++=--:-:::.... .......:::.....:..
                               .:+#%%%%%%%%%######= :-=**##*#**#######%#####*++**=-=+=-:..:-:*##%@%%%@%*##**+++=+=++++-+-+:-::-:::.:-:.::..::.. :==:.:
                                  -#%%%%@%%@@%%%%:.-==#%###*#*##%%###%#####%#####***+++=.::+#%%#%%@%%#***++==+===+-:----:-----=-==-=*: :.=*=:..-++::-=
                                    -*%%##%##%%+.:-++******#######%##%%%%%#%####***++*+=.-##%@%%%%#**+++==+==----:::::::=-==--:..:=*-:.::-::.:::::::--
                                      :+%%%%##-.-=++******########%##%%%%%%#####****##*+ ##########*+======---....::::---:.=+:-:...                   
                                         .-+*=.-=++******###*##%%#####%%%%%########*++++.########**+===-----:...:--::-:..-+#*.=                       
                                             .-=*+****#########%%%%##%%%%%####%%###**+=:=#%%%%#**+=====----.....--::-==*@@@%#+.                       
                                             -=*+****######%@%%##%%%%%%%%##%%%%##***+-:+%%%%##*++===-=--:=:::-::..:=+++==*#=:                         
                                            :=#+*****#####%@@@%#%%%%%%#####%%%#####+==+%%%%#**+====---:-.--:-::-+%%##**+-:=-.                         
                                           .=*+##**######%#*%@@+%%%#%%####%%####%*+*=+%@%%#*+++=====---::-=: :=**#@@%#*+==+%%*:                       
                                           -+**#########%%=+@@@%#%%%%%%##%%###%*+%#*+%@%%#*++++===--::-=-=.:+#**##%%@@%%*++===**+.                    
                                           =**#########%%%@@@@@%%%#%%%%%%%%#%%+-@#+*%%%##*+++++==-=---=-=+*#%%%%####%@%%%##*+=:--=.                   
                                           =#*#########%%%%@@@@@%%##%%%%%%%#%++=++%@%%#***++=+=---===--=#%@@%#####****#%#+*%*=-.:.:                   
                                           -#*##########+-#@@@@@@@#+#%%%%%#+==++#@@%###**+++=+=-==-+:-#@@%%%%%%##**+****#%*-#+=-...                   
                                           :**#########%*#@@@@@@@@@+*%%###*+-=+%@%%%*#*++++==-----=*#@@%%%##***++=--=+++++%##*=-.                     
                                   ..:=+=+%###++#*##%%%%@@@@@@@@@@@%*#####*=+*@@%%###*+++===-=++-+*@@@@%#*++=====-:::--==+*@%*=-.                     
                                       .-=+**%%%%*++*%%%@@@@@@@@@@@@%%#**++#%@@%####**++=====+=:=%@@@@@#*+======-::.:::-==*%%+-:                      
                                      .-:--:..=*%%*++#%%@@@@@@@@%%%@@@@@@@@@@%##**#*+++====++++*@@@@%%**++=--===--::::--=+*#+-..    ::                
                                 .=*##%%#*=++..:+@%+=+%%@@@@@@%%%%%@@@@@@@@@#*****#++++=+++++#%@@@@%##*+++======-------=+#*+-.    ...+                
                                :#%%%%*+*%%#=+=:.*@%**+%@@@@@@%%%%@@@@%@@@@%****#%++++=+++*-+%@@@@%##*##++=======----=-=#*=:::     ::+.               
                              -+##+-.    .*%#**#++###*+=+%@@%%%%#%%@@@@@@@%#**##%**+++++*+*=%@@@@%##**@%++====+==---==+*=::.       .:=.               
                             =:      ::    =@%##**+-=+++=*@#*%%%%%%%%%##*@%####%**+*+++*+*#%@@@@@##**+#*++===*+=====++-:.            .                
                                 -*##*+-::==+++*+++++*++=+=-*#%%%%%@%@%%%@%####%****++****#%@@@@%#***++++++==+*++++=:..  ::.         .                
                              .*#%%@%%%#%+**+*+++++++++-===++*#%%%%@%%%%%%%%##%%##***+*++=+@@@@@#***++++++++++**+-:    -*-:    ..-=+-              ..:
                              -%%%%%%%++====++++*=======---+**#%%%%%@#*%@@%%%%%%###*******%@@@@@##**++++++++*+=-....-=++=+-..-===:..         ...:--==+
                              *##*=::=++=++++======--===---=*+*+*@@@@%%@@@%%%%@%%###*####%@@@@@@%#**+++****+=:...-++-.-*+:-:-:   .        .:--=+=-==-=
                             :%=:-#####*+*+**+=--========--+=+*+++%@@@%%@@###%%%%%######%%@@@@@%%%#******+=-::-++=-:.=#=.    .   .     .:-==++++=-:-+-
                             =.  =##%@%%%#==#+=====++============*#%%@%@@@*++**######%%%%%%@@@@#%%@%%@#+-::=++=:=+=:+%:.::::...      :---====+---:::-:
                             :   .*%%#%%%%*+++====-=++========++++*#%%@@%%+..::=+**##%%%%%%@@@@%%@%##+-:-=*#*=-:=+-#@*------::..   :=--====+-:::-  .:-
                                    :*##%%%#**+*==++=++++++=++==+==#@%%%%%%=  ..:=++##%%%%%%@@@@@%#+==--*@@*++-:-=-@%%=-==-:. .    --=+====::::..:-  :
                           .      -*%**%%#####++*+++++**+====+*#*+++*#@@@@@%+.  ..:=+*#%%%%%@@@@@*====+%@@@#++=..--%%%#==-:.      .======---- .. .:   
                ... .....:-=+=-----=*#@@@@%%%%#**###***+***++=-=+#%**+*#%@@@%%=.  .:==*#%%%@@@@@#---+#@%%%@#++=:.:=%###==-:.      -====-:::--..       
        .:. :-. .:::--. -=+++===+.:+++%@@@@@@@@%##*#%*++*@@%#**+=--=++***++***#*=-::=+*#%%%%%%%%-:-*%%%%#+##+==-.:#@#%#=-:.       ----:-:..::-.       
     .-=***+-:..:---::-+=:.:.-+===-=*%%@@@@@@@@@@@%%*+++++*%%%%%%#*+=-..-=**=-==---=+**#%%%%%%%#-:=#@%%%==++====-=###*+:...      :-::::-. .. :        
    .-=###%%%###*+++*#####+- ==-++=+-=%@@@@@@@@@@@@@%##*+++++*%@%##%%#*+=: .-+*+--::::...:-=+++*-:=#%##+.:----=++=#**:=:..       :::.:::--            
 .-+++*#%%%%%%%%%%%%%%%%%##*=.++=+==+.+#%@@@@@@@@@@@@@@%%#**++++*#%%###%%#*=-:.:==+=::.......      ::::..:.::::-=+++-.-:.      .. :: ...::            
=*##%%%%%%%%%%%%%%%%%%%%%%#*=:+*=---.-*#%%@@@@@@@@@@@@@*%#%%##+++++*#%@###%#*#+-:::-+*+:.....           ....:::-++--. =.      ::..:...  .             
*#%%%%%@%%%%%%%%%%%%%%%%%#*-.=+=.:++*#%%%%@@@@@@@@@@@@@@@@@%@%%##**+++**#%%##**##*+--:-=++=:.....   ........:---+::: -:      -- . .-=                 
***%@@@@%%%%%%%%%%%%%%%%%*:.+*= -*%%#%%%%%%%%@@@@@@@@@@@%%%##%%%#%##**+++++#%%%#+*%%#*+-::-+#*=-:..::::::--::-=+-:: :=.     :=:.  .:                  
+**#@@@@@%%%%%%%%%%%%%%#+.-**=.=*##%%%%%%%%%%%@@@@@@@@@@#@#**%#*==*%%%#*++++++*#%@%#####*+=--=+*##**+=-----:-=+-.:. +.      :::   .                   
+**#@@@@@%@%%%%%%%%%%#*=.+**=:*##%%%%%%%%%%%%@@@@@@@@@@@#@##**#-:-+#%*%%##*++++++*#%@@%#####*++-:-=+*##**=----...  ==      .-+-.                      
+**#@@@@@@@@%%%%%%%#*=.-+*+:-*#%%%%#%##%%%%%%@@@@@@@@@@@%@%#%%%#+*#%####%%%###**+++**#%%@@%%%%##**+====---::::. .-++.     .====+-.                    
+***#%%@%@@@@%%%%%#+.-*#*-:*#%%%%%%##%%%%%%%@@@@@@@@@@@@%%#**%@#%%##**###%##%%%%#*++++++*##%@@@@%%%%####**++++=+-::.     :%#####*:                    
+*##*::-+*#%%%%#*-:-*#*=-*#%%%%%%%%%%%%%%%%%@@@@@@@@@@@@@%###@%#####****#%#%*##%%%##***+++++**##%%@@@@%%%%%%%%#=::.     .+++=--=+*=.                  
*##@@%#+-. .-=-:.=*##--*%%%%@%%%%%%%%%%%%%%@@@@@@@@@@@@@@%@%##%%#*############+##%%%%%##**+++++*++++**#*####*+-=**+-.   +*++++==-====:                
##%@@@@%%%#*=-:..:-=+#%%@@@@@@@@@@@@%%%%%%%@@@@%%%@@@@@@@%%@@%**++**###*##***+*##%%%@%%%%###****+++++++++=+++*+#****.  -++*********+=-                
#%@@@@@@@@@%%%%%#**%%@@@@@@@@@@@@@@@@@@%%%@@@@@%@@@@@@@@@@#@@%+++*#*##=+****+**##%%@@@@@%%%%%%#####**+++*******##**=. -%%%@@@%%%%%%%%#.               
%*#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@%*+=*#*#*=+***+***%%%%@@@@@@@@%%%%%%%%%%%%###%##**++==-.:%%%%%###****+++++=.             
%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%@%**=**##=++*#+***#%%%@@@@@@@@@@@@@%%%%%%%%%%%%%%@%%#*++=%#%%%#*#**+*+++==+==-.           
%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@**=#*#+++**++**#%#%@@@@@@@@@@@@@@%%%%%%%%%%%%%%%%%%%%%#%%%#####****+++#+****#=:         
%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*@@#*=%+++++*+=++*%#%@@@@@@@@@@@@@@@@%%%@%%%%%%%%%%%%%%%%##%#########**#*:=##%%%@@%.       
+*%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#%@#==%+=++*+==++%##%@@@@@%%%%%%%%%%%@@%@%%@%%%%%%@%%%@@@%@@@@%%%##%%##*: =***+ :*@@:      
++*#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%%@@@@@%%%@@@#%@#=**+++**=-++*%##@@@@@%%%%%%%%%%%%%%%@%@@@@@@@@@@@@@@@@@@@@@%%:+####= .+***- :=+-       
++++#@%%%%%%%%%%%%%%@@@@@@@@@@@@@%%%%%%%%%%%%%%%%%%###%%@@@#%@#-*++-**=.+++%#*#@@@@@@@%%%%%%%%%%%%@@@@@@@@@@@@@@@@@%%%%%%%#+ +****: .+***: -+++-      
++++=*.=#%%%%%%%%%%%%%%%%%%%%%%%%%%%%############%%@@@@@@@@*%@#=#=++*+:-++*%#+%%@@@@@%@%%%%%@@@@@@@@@@@@@@@@%%%%@@%%%%%##+=: =+**+: .=+++: -+*+       
+++=-::  :-+*%#####%%%%%##########****+==-::.-=--*%#@@@@@@@*%@#=#=+**-.=++*%#=@@@@@@@@@@%%@@@@@@@@@@@@@@@@%%%%%%%%@%###*=::: ==++=: .=+++: :=++.      
+===-.:       .:-=++******+++==--::..             ::-:-=@@@*%@*+#*+*+-.+++#%#+%%@%%%@@%@@%%%@@@@@@@@@@@@@@@@%%%%#%%@#+::=++- =-==-: .-+++- .=++-      
-->