<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Grade Calculator</h1>
    <div class="container">
        <form action="/" method="POST">
            <label for="absences">Enter Number of Absence:</label>
            <input type="number" id="absences" name="absences" autocomplete="off" required><br>
            <hr>

            <label for="prelexgrade">Enter Prelim Exam Grade (0-100):</label>
            <input type="number" step="0.01" id="prelexgrade" name="prelexgrade" autocomplete="off" required><br>
            <hr>

            <label for="quizgrad">Enter Quizzes Grade (0-100):</label>
            <input type="number" step="0.01" id="quizgrad" name="quizgrad" autocomplete="off" required><br>
            <hr>

            <label for="reqgrade">Enter Requirements Grade (0-100):</label>
            <input type="number" step="0.01" id="reqgrade" name="reqgrade" autocomplete="off" required><br>
            <hr>

            <label for="recigrade">Enter Recitation Grade (0-100):</label>
            <input type="number" step="0.01" id="recigrade" name="recigrade" autocomplete="off" required><br>
            <hr>

            <input type="submit" value="Calculate">
        </form>
    </div>
    <footer>
        <p>Tamondong, Rai</p>
    </footer>
</body>
</html>

<!--
                                                      .  ...:.......                   .:::-==-:... .   .:----:::::...............    .:. ::..-:.::. :
                                                      .    :..:.....                   ----==-::.. ..::-=----::::-:::-===---:.  .. :  :::==: :-. =. .-
                                                           ..:.... ..               .-=-====--::::-------::::...::.:--==-:..:  :.  --+++**=-==-:-=::-:
       ....... . .   .                               .       ....:::::.            :=====-::..::::::-:::..::::::::---=+-- ..-. -: :#%%%%%#:   ====---:
:--==+++****+*+*++=--:----=-:        ....:.::..:...  ..      .:-===----:::::......:-:::..::::..............::::-=--=*:::=. .:.--.:=%###%%%%++:        
##*++=--:......::::-    :--===+===++++++++*+++=+++*+++.    .:----:....:-=++++====-:.::---:-----:.  ....:......:-=:-+*++==:::.     %*#%#+%%@%*-        
           .:---=++=-:..:-=++++****###*+=:...:--=+**##- ..:::::.. .:-=============++=:....-=-:.... .....:......:-:-=#+=-.        +@@**#*#@@#=         
.-..:++: .:===========+****##%%%%#**+:.   .--+++******+-:::..:  .--.-==+++******++===+=.:-=-:..... ...    .:... =:--.           -@@@@@%%@@*:          
+=--::-=+++**##*=:-+*###%@%*####*+-.     .=+++*********==-::. .--: :---=+**####****++++*:---:.           . .:  :.              +@@@@@@@@%=            
-..=*****#%@%%*=+**##%%%%@*+**#*+.     .:=++++********+.==:. .=:   :--=**######********##::::          .    .                .#@@@@@@@%=              
+*######%@%%#=+**#%%###%@@%####+:.=::::=+++++**********=-#=::+-   .-=+*########****++==*#+.       . .  ..                   =%@@@@@@@*.               
#%%%%%%@@@@++*#%%%%#####*#%%%%#-:-=---+++++++***********#%+:-:    -+++*#####*****++-....++:     ... .                     .*@@@@@@@%=                 
.:-=+#%%@#+*##%%%########****##=-====+#%#+++++****##*****#*-.     +***####*##**+++:     .--   ::::-:.                    +%@@@@@@@*.                  
        -+*##=--#%#######*****#+=+=++*#%%**+*****###**#%%%#:     :*###%##**##*+=--        :. --==-:-                  ..*%@@@@@@%*:::::::::::::..     
        .#%*:    -*########**#%@++++**************##*%%%%#=:     -*#####***++=:.::        :.--:-::.         :++****-:=*####*++==---:::................
         .:        :*##########%%*+*#**************#*%%#-.::.   -=*###%#***++:  ::        :::::::      :.  *+#**=#-+***++===--:::.::.......  .:-:::...
                     .-=*####%%##***###********###**##-.:-=:-::-=+*####****+=.  -:       .:-::.  :::-*%*#-=%%%##****++===-=--::.........     -:.    :.
                          .:=+#%###%##%%%##########*- .-=+#+*+++***####*****=:.-=:. ......:-..-*@@**@@%+#@%##***+++++++=--:-:::.... .......:::.....:..
                               .:+#%%%%%%%%%######= :-=**##*#**#######%#####*++**=-=+=-:..:-:*##%@%%%@%*##**+++=+=++++-+-+:-::-:::.:-:.::..::.. :==:.:
                                  -#%%%%@%%@@%%%%:.-==#%###*#*##%%###%#####%#####***+++=.::+#%%#%%@%%#***++==+===+-:----:-----=-==-=*: :.=*=:..-++::-=
                                    -*%%##%##%%+.:-++******#######%##%%%%%#%####***++*+=.-##%@%%%%#**+++==+==----:::::::=-==--:..:=*-:.::-::.:::::::--
                                      :+%%%%##-.-=++******########%##%%%%%%#####****##*+ ##########*+======---....::::---:.=+:-:...                   
                                         .-+*=.-=++******###*##%%#####%%%%%########*++++.########**+===-----:...:--::-:..-+#*.=                       
                                             .-=*+****#########%%%%##%%%%%####%%###**+=:=#%%%%#**+=====----.....--::-==*@@@%#+.                       
                                             -=*+****######%@%%##%%%%%%%%##%%%%##***+-:+%%%%##*++===-=--:=:::-::..:=+++==*#=:                         
                                            :=#+*****#####%@@@%#%%%%%%#####%%%#####+==+%%%%#**+====---:-.--:-::-+%%##**+-:=-.                         
                                           .=*+##**######%#*%@@+%%%#%%####%%####%*+*=+%@%%#*+++=====---::-=: :=**#@@%#*+==+%%*:                       
                                           -+**#########%%=+@@@%#%%%%%%##%%###%*+%#*+%@%%#*++++===--::-=-=.:+#**##%%@@%%*++===**+.                    
                                           =**#########%%%@@@@@%%%#%%%%%%%%#%%+-@#+*%%%##*+++++==-=---=-=+*#%%%%####%@%%%##*+=:--=.                   
                                           =#*#########%%%%@@@@@%%##%%%%%%%#%++=++%@%%#***++=+=---===--=#%@@%#####****#%#+*%*=-.:.:                   
                                           -#*##########+-#@@@@@@@#+#%%%%%#+==++#@@%###**+++=+=-==-+:-#@@%%%%%%##**+****#%*-#+=-...                   
                                           :**#########%*#@@@@@@@@@+*%%###*+-=+%@%%%*#*++++==-----=*#@@%%%##***++=--=+++++%##*=-.                     
                                   ..:=+=+%###++#*##%%%%@@@@@@@@@@@%*#####*=+*@@%%###*+++===-=++-+*@@@@%#*++=====-:::--==+*@%*=-.                     
                                       .-=+**%%%%*++*%%%@@@@@@@@@@@@%%#**++#%@@%####**++=====+=:=%@@@@@#*+======-::.:::-==*%%+-:                      
                                      .-:--:..=*%%*++#%%@@@@@@@@%%%@@@@@@@@@@%##**#*+++====++++*@@@@%%**++=--===--::::--=+*#+-..    ::                
                                 .=*##%%#*=++..:+@%+=+%%@@@@@@%%%%%@@@@@@@@@#*****#++++=+++++#%@@@@%##*+++======-------=+#*+-.    ...+                
                                :#%%%%*+*%%#=+=:.*@%**+%@@@@@@%%%%@@@@%@@@@%****#%++++=+++*-+%@@@@%##*##++=======----=-=#*=:::     ::+.               
                              -+##+-.    .*%#**#++###*+=+%@@%%%%#%%@@@@@@@%#**##%**+++++*+*=%@@@@%##**@%++====+==---==+*=::.       .:=.               
                             =:      ::    =@%##**+-=+++=*@#*%%%%%%%%%##*@%####%**+*+++*+*#%@@@@@##**+#*++===*+=====++-:.            .                
                                 -*##*+-::==+++*+++++*++=+=-*#%%%%%@%@%%%@%####%****++****#%@@@@%#***++++++==+*++++=:..  ::.         .                
                              .*#%%@%%%#%+**+*+++++++++-===++*#%%%%@%%%%%%%%##%%##***+*++=+@@@@@#***++++++++++**+-:    -*-:    ..-=+-              ..:
                              -%%%%%%%++====++++*=======---+**#%%%%%@#*%@@%%%%%%###*******%@@@@@##**++++++++*+=-....-=++=+-..-===:..         ...:--==+
                              *##*=::=++=++++======--===---=*+*+*@@@@%%@@@%%%%@%%###*####%@@@@@@%#**+++****+=:...-++-.-*+:-:-:   .        .:--=+=-==-=
                             :%=:-#####*+*+**+=--========--+=+*+++%@@@%%@@###%%%%%######%%@@@@@%%%#******+=-::-++=-:.=#=.    .   .     .:-==++++=-:-+-
                             =.  =##%@%%%#==#+=====++============*#%%@%@@@*++**######%%%%%%@@@@#%%@%%@#+-::=++=:=+=:+%:.::::...      :---====+---:::-:
                             :   .*%%#%%%%*+++====-=++========++++*#%%@@%%+..::=+**##%%%%%%@@@@%%@%##+-:-=*#*=-:=+-#@*------::..   :=--====+-:::-  .:-
                                    :*##%%%#**+*==++=++++++=++==+==#@%%%%%%=  ..:=++##%%%%%%@@@@@%#+==--*@@*++-:-=-@%%=-==-:. .    --=+====::::..:-  :
                           .      -*%**%%#####++*+++++**+====+*#*+++*#@@@@@%+.  ..:=+*#%%%%%@@@@@*====+%@@@#++=..--%%%#==-:.      .======---- .. .:   
                ... .....:-=+=-----=*#@@@@%%%%#**###***+***++=-=+#%**+*#%@@@%%=.  .:==*#%%%@@@@@#---+#@%%%@#++=:.:=%###==-:.      -====-:::--..       
        .:. :-. .:::--. -=+++===+.:+++%@@@@@@@@%##*#%*++*@@%#**+=--=++***++***#*=-::=+*#%%%%%%%%-:-*%%%%#+##+==-.:#@#%#=-:.       ----:-:..::-.       
     .-=***+-:..:---::-+=:.:.-+===-=*%%@@@@@@@@@@@%%*+++++*%%%%%%#*+=-..-=**=-==---=+**#%%%%%%%#-:=#@%%%==++====-=###*+:...      :-::::-. .. :        
    .-=###%%%###*+++*#####+- ==-++=+-=%@@@@@@@@@@@@@%##*+++++*%@%##%%#*+=: .-+*+--::::...:-=+++*-:=#%##+.:----=++=#**:=:..       :::.:::--            
 .-+++*#%%%%%%%%%%%%%%%%%##*=.++=+==+.+#%@@@@@@@@@@@@@@%%#**++++*#%%###%%#*=-:.:==+=::.......      ::::..:.::::-=+++-.-:.      .. :: ...::            
=*##%%%%%%%%%%%%%%%%%%%%%%#*=:+*=---.-*#%%@@@@@@@@@@@@@*%#%%##+++++*#%@###%#*#+-:::-+*+:.....           ....:::-++--. =.      ::..:...  .             
*#%%%%%@%%%%%%%%%%%%%%%%%#*-.=+=.:++*#%%%%@@@@@@@@@@@@@@@@@%@%%##**+++**#%%##**##*+--:-=++=:.....   ........:---+::: -:      -- . .-=                 
***%@@@@%%%%%%%%%%%%%%%%%*:.+*= -*%%#%%%%%%%%@@@@@@@@@@@%%%##%%%#%##**+++++#%%%#+*%%#*+-::-+#*=-:..::::::--::-=+-:: :=.     :=:.  .:                  
+**#@@@@@%%%%%%%%%%%%%%#+.-**=.=*##%%%%%%%%%%%@@@@@@@@@@#@#**%#*==*%%%#*++++++*#%@%#####*+=--=+*##**+=-----:-=+-.:. +.      :::   .                   
+**#@@@@@%@%%%%%%%%%%#*=.+**=:*##%%%%%%%%%%%%@@@@@@@@@@@#@##**#-:-+#%*%%##*++++++*#%@@%#####*++-:-=+*##**=----...  ==      .-+-.                      
+**#@@@@@@@@%%%%%%%#*=.-+*+:-*#%%%%#%##%%%%%%@@@@@@@@@@@%@%#%%%#+*#%####%%%###**+++**#%%@@%%%%##**+====---::::. .-++.     .====+-.                    
+***#%%@%@@@@%%%%%#+.-*#*-:*#%%%%%%##%%%%%%%@@@@@@@@@@@@%%#**%@#%%##**###%##%%%%#*++++++*##%@@@@%%%%####**++++=+-::.     :%#####*:                    
+*##*::-+*#%%%%#*-:-*#*=-*#%%%%%%%%%%%%%%%%%@@@@@@@@@@@@@%###@%#####****#%#%*##%%%##***+++++**##%%@@@@%%%%%%%%#=::.     .+++=--=+*=.                  
*##@@%#+-. .-=-:.=*##--*%%%%@%%%%%%%%%%%%%%@@@@@@@@@@@@@@%@%##%%#*############+##%%%%%##**+++++*++++**#*####*+-=**+-.   +*++++==-====:                
##%@@@@%%%#*=-:..:-=+#%%@@@@@@@@@@@@%%%%%%%@@@@%%%@@@@@@@%%@@%**++**###*##***+*##%%%@%%%%###****+++++++++=+++*+#****.  -++*********+=-                
#%@@@@@@@@@%%%%%#**%%@@@@@@@@@@@@@@@@@@%%%@@@@@%@@@@@@@@@@#@@%+++*#*##=+****+**##%%@@@@@%%%%%%#####**+++*******##**=. -%%%@@@%%%%%%%%#.               
%*#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@%*+=*#*#*=+***+***%%%%@@@@@@@@%%%%%%%%%%%%###%##**++==-.:%%%%%###****+++++=.             
%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%@%**=**##=++*#+***#%%%@@@@@@@@@@@@@%%%%%%%%%%%%%%@%%#*++=%#%%%#*#**+*+++==+==-.           
%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@**=#*#+++**++**#%#%@@@@@@@@@@@@@@%%%%%%%%%%%%%%%%%%%%%#%%%#####****+++#+****#=:         
%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*@@#*=%+++++*+=++*%#%@@@@@@@@@@@@@@@@%%%@%%%%%%%%%%%%%%%%##%#########**#*:=##%%%@@%.       
+*%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#%@#==%+=++*+==++%##%@@@@@%%%%%%%%%%%@@%@%%@%%%%%%@%%%@@@%@@@@%%%##%%##*: =***+ :*@@:      
++*#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%%%%@@@@@%%%@@@#%@#=**+++**=-++*%##@@@@@%%%%%%%%%%%%%%%@%@@@@@@@@@@@@@@@@@@@@@%%:+####= .+***- :=+-       
++++#@%%%%%%%%%%%%%%@@@@@@@@@@@@@%%%%%%%%%%%%%%%%%%###%%@@@#%@#-*++-**=.+++%#*#@@@@@@@%%%%%%%%%%%%@@@@@@@@@@@@@@@@@%%%%%%%#+ +****: .+***: -+++-      
++++=*.=#%%%%%%%%%%%%%%%%%%%%%%%%%%%%############%%@@@@@@@@*%@#=#=++*+:-++*%#+%%@@@@@%@%%%%%@@@@@@@@@@@@@@@@%%%%@@%%%%%##+=: =+**+: .=+++: -+*+       
+++=-::  :-+*%#####%%%%%##########****+==-::.-=--*%#@@@@@@@*%@#=#=+**-.=++*%#=@@@@@@@@@@%%@@@@@@@@@@@@@@@@%%%%%%%%@%###*=::: ==++=: .=+++: :=++.      
+===-.:       .:-=++******+++==--::..             ::-:-=@@@*%@*+#*+*+-.+++#%#+%%@%%%@@%@@%%%@@@@@@@@@@@@@@@@%%%%#%%@#+::=++- =-==-: .-+++- .=++-      
-->